# PyTorch
# pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121

# Hugging Face Transformers (4.57.0)
# pip install git+https://github.com/huggingface/transformers

# default libraries
numpy>=1.23.0
pandas>=1.5.0
matplotlib>=3.7.0

# machine learning
scikit-learn>=1.2.0
datasets

# another utils
tqdm>=4.65.0
sentencepiece 
protobuf 
tiktoken 
tokenizers
accelerate 
safetensors
pillow 
torchvision 
peft